# Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://database:5432/insurance_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# OpenRouter / LLM Configuration
OPENROUTER_API_KEY=your_openrouter_api_key_here
SPRING_AI_OPENAI_MODEL=stepfun/step-3.5-flash:free

# Security JWT Configuration
JWT_SECRET_KEY=3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b
JWT_EXPIRATION_TIME=3600000
